* {
    margin: 0%;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    opacity: 1;
    box-sizing: border-box;
    border: 0px;
    font-family: sans-serif;
}

aside {
    display: flex;
    flex-direction: column;

    margin-top: 0;
    margin-left: 0;
    width: 300px;
    height: 100vh;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;

    position: fixed;
}

header {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 46px;
    margin-right: 45.64px;

    height: 45px;
    width: 208px;
}

nav {
    display: flex;
    flex-direction: row;
    margin-top: 23px;
    margin-left: 16px;
    width: 285px;
    height: 60px;
    background: #03AEEE 0% 0% no-repeat padding-box;
    border-radius: 50px 0px 0px 50px;
    opacity: 1;
}

nav div {
    margin-left: 13px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 7.19px 6.5px 8.6px 6.5px;
    border-radius: 50%;
    width: 29px;
    height: 29px;
}

nav p{
    margin-left: 54px;
    margin-top: 19px;
    margin-bottom: 19px;;
    width: 127px;
    height: 22px;
    /* UI Properties */
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    background-color: #03AEEE ;
}

a {
    text-decoration: none;    
}

main {
    margin-left: 300px;
    width: calc(100% - 300px);
}

.headsection h1 {
    margin-top: 16px;
    background: #FDFDFD;
    font-size: 24px;
    
}

.topdiv {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: flex-end;
    margin: 0;
    height: 77px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    padding-right: 40px;
}

.headsection{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 14px;
    margin-left: 23px;

    padding-left: 24px;
    padding-top: 21px;
    padding-bottom: 21px;
    
    height: 100px;
    width: 1500px;

    background: #FDFDFD 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #9D9D9D29;
    border-radius: 10px;
    opacity: 1;
}

.mainsection {
    align-items: center;

    margin-top: 14px;
    margin-left: 23px;
    
    padding-left: 34px;
    padding-right: 73px;
    padding-top: 33px;
    padding-bottom: 38px;
    height: 439px;
    width: 1500px;

    /* UI Properties */

    background: #FDFDFD 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #9D9D9D29;
    border-radius: 10px;
    opacity: 1;
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: #FDFDFD;
}

form div {
    display: flex;
    flex-direction: column;

    font-family: sans-serif;

    margin-bottom: 32px;
    background: #FDFDFD;

    width: calc(100% / 3);

}

form div label{
    background: #FDFDFD;
}

form input {
    width: 450px;
    height: 45px;

    margin-top: 8px;

    background: #FAFAFA 0% 0% no-repeat padding-box;
    border: 1px solid #D9D9D9;
    opacity: 1;

    border-radius: 5px;
}

form select {
    width: 450px;
    height: 45px;

    margin-top: 8px;

    background: #FAFAFA 0% 0% no-repeat padding-box;
    border: 1px solid #D9D9D9;
    opacity: 1;

    border-radius: 5px;
}

table {
    margin-top: 22px;
    margin-left: 23px;

    border-spacing: 0px 16px;

    text-align: left;

    width: 1500px;
}

table th:first-of-type {
    padding-left: 24px;
}

table td:first-of-type {
    padding-left: 24px;
}

table th{
    background-color: #EAF9FF;
    border-radius: 10px;
    opacity: 1;
}

table td {
    background-color: #FFFFFF;
    border-radius: 10px;
    opacity: 1;
}

table tr {

    height: 58px;

    background: #EAF9FF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #9D9D9D29;

    border-radius: 10px;
    opacity: 1;
}

label[for="upload-file"] {
    width: 450px;
    height: 45px;

    margin-top: 8px;

    background: #FAFAFA 0% 0% no-repeat padding-box;
    border: 1px solid #D9D9D9;
    opacity: 1;

    border-radius: 5px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

p {
    margin: 5px;
    color: #8B8D9D;
}

span {
    width: 96px;
    height: 35px;
    margin: 5px;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8B8D9D;
}

input[id="upload-file"] {
    display: none;
}

input[type="submit"] {
    width: 150px;
    height: 35px;

    margin-right: 6px;

    /* UI Properties */

    background: #03AEEE 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #BFEEFF;
    border-radius: 3px;
    opacity: 1;

    font-family: sans-serif;
    color: white;

    cursor: pointer;
}

#myBtn {
    width: 150px;
    height: 35px;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #C9C9C929;
    border: 1px solid #8A8C8F;
    border-radius: 3px;
    opacity: 1;
    color: #8A8C8F;
    cursor: pointer;
}

.deleteicon {
    margin-right: 14px;
    color: #FA4242;
    background-color: #FFFFFF;
    cursor: pointer;
}

.editicon {
    margin-left: 14px;
    color: #10AAC0;
    background-color: #FFFFFF;
    cursor: pointer;
}

.headbutton {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    
    margin-right: 19px;
    width: 259px;
    height: 56px;
    background: #EAF9FF 0% 0% no-repeat padding-box;
    border-radius: 58px 58px 58px 58px;
    opacity: 1;
}

.headbutton div{
    margin:0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 58px;
    height: 58px;

    background-color: #03AEEE;
}

.headbutton p {
    margin-right: 26px;
    /* margin-left: 17px; */
    margin-top: 16px;
    margin-bottom: 15px;
    width: 127px;
    height: 22px;
    /* UI Properties */
    text-align: center;
    letter-spacing: 0px;
    color: #000000;
    background-color: #EAF9FF ;
}

.headsectionicon {
    width: 22px;
    height: 37px;
    color: #FFFFFF;
    background-color: #03AEEE;
}

.Active {
    text-align: center;
    padding: 4px 0px 4px 0px;
    width: 111px;
    height: 30px;

    border-radius: 30px 30px 30px 30px;
    /* UI Properties */
    background: #D3F4BE;
    opacity: 1;
}

.Inactive {
    text-align: center;
    padding: 4px 0px 4px 0px;
    width: 111px;
    height: 30px;

    border-radius: 30px 30px 30px 30px;
    /* UI Properties */
    background: #FFBFBF;
    opacity: 1;
}

.Probation {
    text-align: center;
    padding: 4px 0px 4px 0px;
    width: 111px;
    height: 30px;

    border-radius: 30px 30px 30px 30px;
    /* UI Properties */
    background: #F5ECB8;
    opacity: 1;
}

.loginmain {
    display: flex;
    flex-direction: row;

    margin: 0px;
    width: 100%;
    height: 100vh;

    padding: 32px 32px 32px 32px;
}

.firsthalf {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B0E6FA;
    height: 100%;
    width: 50%;
}

.firsthalf img {
    width: 760px;
    height: 760px;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.secondhalf {
    height: 100%;
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.secondhalf img {
    width: 208px;
    height: 45px;
    background-color: #FAFAFA;
}

.secondhalf input{
    width: 460px;
    height: 50px;

    margin-top: 48px;

    background: #FAFAFA 0% 0% no-repeat padding-box;
    border: 1px solid #D9D9D9;
    opacity: 1;

    border-radius: 5px;
}

.secondhalf button {
    width: 460px;
    height: 50px;

    margin-top: 48px;

    /* UI Properties */

    background: #03AEEE 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #B0E6FA;
    border-radius: 3px;
    opacity: 1;

    font-family: sans-serif;
    color: white;

    cursor: pointer;

}

.detailsection {
    align-items: center;

    margin-top: 14px;
    margin-left: 23px;
    
    padding-left: 34px;
    padding-right: 73px;
    padding-top: 33px;
    padding-bottom: 38px;
    height: 232px;
    width: 1275px;

    /* UI Properties */

    background: #FDFDFD 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #9D9D9D29;
    border-radius: 10px;
    opacity: 1;
}

.detailsection {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.detailsection div {
    display: flex;
    flex-direction: column;
}

.detailsection div label:first-child {
    margin-bottom: 5px;
    color: #8B8D9D;
}

#logout {
    color: #03AEEE;
    width: 30px;
    height: 30px;
    background-color: #FFFFFF;
    cursor: pointer;
}