* {
    margin: 0%;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    opacity: 1;
    box-sizing: border-box;
    font-family: sans-serif;
}

aside {
    display: flex;
    flex-direction: column;

    margin-top: 0;
    margin-left: 0;
    width: 300px;
    height: 100vh;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;

    position: fixed;
}

header {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 46px;
    margin-right: 45.64px;

    height: 45px;
    width: 208px;
}

nav {
    display: flex;
    flex-direction: row;
    margin-top: 23px;
    margin-left: 16px;
    width: 285px;
    height: 60px;
    background: #03AEEE 0% 0% no-repeat padding-box;
    border-radius: 50px 0px 0px 50px;
    opacity: 1;
}

nav div {
    margin-left: 13px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 7.19px 6.5px 8.6px 6.5px;
    border-radius: 50%;
    width: 29px;
    height: 29px;
}

nav p{
    margin-left: 54px;
    margin-top: 19px;
    margin-bottom: 19px;;
    width: 127px;
    height: 22px;
    /* UI Properties */
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    background-color: #03AEEE ;
}

a {
    text-decoration: none;    
}

main {
    margin-left: 300px;
    width: calc(100% - 300px);
}

.headsection h1 {
    background: #FDFDFD;
    font-size: 24px;
    
}

.topdiv {
    margin: 0;
    height: 77px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

.headsection{
    margin-top: 14px;
    margin-left: 23px;

    padding-left: 24px;
    padding-top: 37px;
    padding-bottom: 31px;
    
    height: 100px;
    width: 1500px;

    background: #FDFDFD 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #9D9D9D29;
    border-radius: 10px;
    opacity: 1;
}

.mainsection {
    display: fex;
    align-items: center;

    margin-top: 14px;
    margin-left: 23px;
    
    padding-left: 34px;
    padding-right: 73px;
    padding-top: 33px;
    padding-bottom: 38px;
    height: 439px;
    width: 1500px;

    /* UI Properties */

    background: #FDFDFD 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #9D9D9D29;
    border-radius: 10px;
    opacity: 1;
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: #FDFDFD;
}

form div {
    display: flex;
    flex-direction: column;

    font-family: sans-serif;

    margin-bottom: 32px;
    background: #FDFDFD;

    width: calc(100% / 3);

}

form div label{
    background: #FDFDFD;
}

form input {
    width: 450px;
    height: 45px;

    margin-top: 8px;

    background: #FAFAFA 0% 0% no-repeat padding-box;
    border: 1px solid #D9D9D9;
    opacity: 1;

    border-radius: 5px;
}

form select {
    width: 450px;
    height: 45px;

    margin-top: 8px;

    background: #FAFAFA 0% 0% no-repeat padding-box;
    border: 1px solid #D9D9D9;
    opacity: 1;

    border-radius: 5px;
}

table {
    margin-top: 22px;
    margin-left: 23px;

    border-spacing: 0px 16px;

    text-align: left;

    width: 1500px;
}

table th:first-of-type {
    padding-left: 24px;
}

table td:first-of-type {
    padding-left: 24px;
}

table th{
    background-color: #EAF9FF;
    border-radius: 10px;
    opacity: 1;
}

table td {
    background-color: #FFFFFF;
    border-radius: 10px;
    opacity: 1;
}

table tr {

    height: 58px;

    background: #EAF9FF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #9D9D9D29;

    border-radius: 10px;
    opacity: 1;
}